.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  gap: 30px;
  &__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}
