.main-app {
  max-width: 1200px;
  height: 100svh;
  min-height: 80vh;
  display: flex;
  box-sizing: border-box;
  &__page-container {
    max-height: 100vh;
    width: calc(100vw - 64px);
    display: flex;
    flex-direction: column;
  }
  &__router-outlet-container {
    margin: 15px;
  }
}
