.container {
  max-width: 1200px;
  height: 100vh;
  height: 100svh;
  min-height: 80vh;
  display: flex;
  box-sizing: border-box;
}
.page-container {
  max-height: 100vh;
  width: calc(100vw - 64px);
  display: flex;
  flex-direction: column;
}
