@use '../../../../sass/base/variables' as *;

.container {
  display: grid;
  place-items: center;

  min-height: 100%;
}

.customer-details {
  display: grid;
  gap: 1em;

  align-content: center;
  min-height: 100%;

  &__header {
    display: grid;
    gap: 0.5em;
    justify-items: flex-start;
  }

  &__subtitle {
    color: $primary-color;
  }

  &__image {
    display: block;
    width: min(100% - 3em, 400px);
    margin-inline: auto;
    border-radius: 0.3em;
  }

  &__name,
  &__tag {
    display: block;
  }

  &__tag {
    padding: 0.5em 1em;

    font-weight: 500;

    background-color: $secondary-color;
    border-radius: 0.3em;
  }

  &__name {
    color: $primary-color;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    grid-column: 1 / -1;
    flex-wrap: wrap;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
  }

  &__info {
    display: flex;
    flex-direction: column;

    font-weight: 700;
  }

  &__detail {
    font-weight: 400;
  }
}

.error {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    height: 100%;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__paragraph {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__title,
  &__paragraph {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .customer-details {
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5em;
    }
  }
}
