.classification-main {
  margin: 0 auto;
  max-width: 1450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;

    @media (max-width: 550px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__container {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 1.5rem 1rem;
    justify-items: center;
  }

  &__card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &__card {
    max-width: 462px;
    &:hover {
      cursor: pointer;
    }
  }

  &__pagination {
    margin: 0 1rem;
  }
}
