@use 'styles.scss' as *;

.classification-main {
  margin: 0 auto;
  max-width: 1450px;
  @include flex($direction: column, $justify-content: space-between);

  &__header {
    @include flex($justify-content: space-between, $align-items: center);
    @media (max-width: 550px) {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  &__container {
    @include gridColumnsCentered(auto-fit, minmax(350px, 1fr), 1rem);
    margin: 1.5rem 0;
  }

  &__card-body {
    @include flex($gap: 0.5rem);
  }

  &__card {
    max-width: 462px;
    &:hover {
      cursor: pointer;
    }
  }

  &__pagination {
    margin: 0 1rem;
  }
}
